@page "/"

<style>
    
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px; 
    }

   
    h1 {
        font-weight: bold; 
        margin-bottom: 10px; 
    }

    h2 {
        font-style: italic; 
        margin-bottom: 10px; 
    }

    
    img {
        max-width: 100%; 
        margin-top: 20px; 
    }

    p {
        margin-top: 20px; 
        font-style: italic; 
    }
</style>

<div class="center">
    <h1>Wecome to Traveless</h1>
    <h2>Travel less with Traveless</h2>
    <img src="images/plane.jpg" alt="Traveless Logo" title="Traveless Logo" width="500px" />
    <!-- Source: https://dribbble.com/shots/1792182-Fighter-Jet) -->
    <p>By James Tuling and Prince Martinez</p>
</div>